<table>
    <caption class="title">Listados de Hoteles</caption>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Estrellas</th>
        <th scope="col">Pais</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody *ngFor="let hotel of hotelList">
      <tr>
        <td data-label="Nombre">{{hotel.name}}</td>
        <td data-label="Estrellas"><i class="fa-solid fa-star"></i>{{hotel.stars}}</td>
        <td data-label="Pais">{{hotel.country}}</td>
        <td data-label="Ciudad">{{hotel.city}}</td>
        <td class="icon-details">
            <i class="fa-regular fa-eye" id="details"></i>
        </td>
      </tr>
    </tbody>
  </table>