table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  .add-button{
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin: 15px 20px;
    padding: 5px 5px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(255, 71, 246);;
  }

  .add-button:hover{
    background-color: rgb(133, 155, 34);;
  }

  .title{
    color: white;
  }

  #details{
    cursor: pointer;
    font-size: 25px;
  }

  #details:hover{
    color: rgb(255, 71, 246);
  }

  .delete-icon{
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
  }

  .delete-icon:hover{
    color: rgb(255, 71, 246);
  }
  
  .edit-icon{
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
  }

  .edit-icon:hover{
    color: rgb(255, 71, 246);
  }
  .stars{
    margin-right: 5px;
  }

  .stars:hover{
    color: rgb(255, 71, 246);
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    .add-button{
      color: white;
      cursor: pointer;
      font-size: 30px;
      padding: 5px 5px;
      border-radius: 50%;
      bottom: 15px;
      position: fixed;
      background-color: rgb(255, 71, 246);;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }